#main__navbar-default {
	border: 0;
    box-shadow: 0 -17px 30px #000000;
    background-color: #ffffff;
    border-radius: 0px;
}
#nav-footer{
    border-radius: 0px 0px 4px 4px;
    border: 0;
}
.panel-default {
    border: 0px;
    box-shadow: 0px 0px 30px #f1f1f1;
}
.panel-default > .panel-heading {
    border: 0px;
}
.thumbnail {
    border: 0;
    box-shadow: 0px 0px 15px #eaeaea;
}
.thumbnail .caption {
    height: 250px;
}